/* #region Default Mobile-portrait view no breakpoint   based loosely on iphoneX (375x812) */


     /*                               contents from here                                   */
#backboard{
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    /* overflow:hidden;     */
    box-sizing: border-box;
    display: grid;
    grid: 100px 1fr/ 1fr;    
}

main{    
    box-sizing: border-box;    
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 21.35%, #FFFFFF 88.02%), #E11E1E;
    font-size: 2rem; 
    display: grid;
    grid: minmax(0,3fr) minmax(0,1fr) minmax(0,1fr) minmax(0,5fr)/100vw; 
     max-height: 100%;
    /* width: 100vw; */
    place-items: center start;
}

section{
    height: 100%;
    max-height: 100%;
    width: 100%; 
    display: grid;
    grid: 1fr/1fr 6fr;    
    place-items: center;
}

#photosection{
    /* background-color: aqua;       */
}
#phonesection{
    /* background-color:olive; */
}
#mailsection{
    /* background-color:orangered; */
}
#mapsection{
    /* background-color:palegoldenrod; */
}


.icon{
    max-height: 40px;
}

.contents{
    height: 90%;
    width: 90%;  
    
    background: #FFFFFF;
	box-shadow: 2px 8px 15px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	
    box-sizing: border-box;
    /* padding: 1rem 1rem 1rem 1rem; */
    
	font-family: Russo One;
	font-style: normal;
	font-weight: normal;
	font-size: 1.1rem;	
	text-align: center;
    color: #000000;	 

    display: grid;
    place-items: center;
}

#photoframe{
 /* background-color: pink; */
    max-height: 100%;
    display: grid;
    grid: 10fr 2fr/1fr;
    place-items: center; 
    padding: .3rem 1rem  .3rem 1rem; 
}

#headshot{
    object-fit: contain;
    max-height: 100%;
    height: 80px;
}

a{
    color: blue;
    text-decoration-color: blue;    
}

.buttonclass{
    color: blue;
    height: 100%;
    width: 100%;  
    border-width: 0px;
}

#mapframe{
    display: grid;
    grid: 1fr minmax(100px,10fr)/1fr;
    place-items: center; 
    padding: .3rem 1rem  .3rem 1rem; 
}

#themap{
    height: 100%;
    width: 100%;
    
}



  /*                               dropdown from here                                   */
  #navbar{
    height: 100px;
    width: 100vw;
    max-width: 100%;
    box-sizing: border-box;
    background-color: white;    
    display: grid;
    grid: 1fr/ 2fr 1fr;
    position: fixed;  
    top: 0;
    left: 0;
    /* this next line is to keep the dropdown higher in stacking context than the leaflet map...i have no idea on leaflets z-index  */
    z-index: 99999999998;
}

#navlogo{
    height: 80px;
    place-self:  center start;
    position: relative;
    left: 10px;
}

#burger{
    position: relative;
    right: 10px;    
    height: 35px;
    place-self:  center end;   
    
    /* this is good but not on mobile */
    cursor: pointer;	
}

#dropdown{
    height: 400px;
    width: 70vw;    
    background: linear-gradient(180deg, rgba(218, 218, 218, 0.94) 0%, rgba(175, 175, 176, 0) 100%), #1C1717;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;    
    display: none;
    grid: 60px 6fr/1fr;
    
    position: fixed;
    /* this next line is to keep the dropdown higher in stacking context than the leaflet map...i have no idea on leaflets z-index  */
    z-index: 99999999999;
    top: 20px;
    right: 20px;
}

#closer{
    height: 40px;
    width: 40px;
    position: relative;
    left: 10px;
    top: 10px;
}

#DDbuttonsdiv{
	/* background-color: rgb(14, 124, 56); */
    display: grid;
    grid: 1fr 1fr 1fr 1fr/ 1fr;
	place-items: center;
}
  
.DDbutton{	
	background: #FFFFFF;
	box-shadow: 2px 8px 15px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	padding: 1rem 1rem 1rem 1rem;
	box-sizing: content-box;
	width: 50vw;
	text-decoration: none;
	font-family: Russo One;
	font-style: normal;
	font-weight: normal;
	font-size: 1.2rem;	
	text-align: center;
	color: #000000;	
    
    /* this is good but not on mobile */
    cursor: pointer;	 
}

/* #endregion */




/*                               responsive adapt from here                                   */


/* #region responsive breakpoint for PORTRAIT M-O-B-I-L-E (max-width:450px) and (max-height:570px)   this is 5s */
@media screen and (max-width:450px) and (max-height:570px){
    
    .contents{        
        font-size: .8rem;	
    }

    .DDbutton{	        
        font-size: 1rem;
    }    

}

/* #endregion */


/* #region responsive breakpoint for PORTRAIT M-O-B-I-L-E (max-width:450px) and  (min-height:571px) and (max-height:750px)   this is iphone 6/7/8*   6/7/8+  */
@media screen and (max-width:450px) and  (min-height:571px) and (max-height:750px){
        
    .contents{        
        font-size: .9rem;	
    }

}

/* #endregion */


/* #region responsive breakpoint for PORTRAIT M-O-B-I-L-E (max-width:450px) and  (min-height:751px) this is iphoneX, pixel phones etc */
@media screen and (orientation:portrait) and (max-width:450px) and (min-height:751px) {	
        
    .contents{        
        font-size: .8rem;	
    }
    #headshot{
        height: 120px;
    }

}

/* #endregion */





/* #region responsive breakpoint for LANDSCAPE M-O-B-I-L-E (orientation:landscape) and (max-height:420px) and (max-width:600px)iphone5s landscaped */
@media screen and (orientation:landscape) and (max-height:420px) and (max-width:600px){

    #dropdown{
        height: 300px;
        grid: 50px 6fr/1fr;
    }
	
} 

/* #endregion */


/* #region responsive breakpoint for LANDSCAPE M-O-B-I-L-E (orientation:landscape) and (max-height:420px) and (min-width:600px) and (max-width:700px) iphone 6/7/8 6/7/8+ */
@media screen and (orientation:landscape) and (max-height:420px) and (min-width:600px) and (max-width:750px){
    
    #dropdown{
        height: 350px;
        grid: 50px 6fr/1fr;
    }
		
} 

/* #endregion */


/* #region responsive breakpoint for LANDSCAPE M-O-B-I-L-E (orientation:landscape) and (max-height:420px) and (min-width:750px) iphoneX, pixelphone landscaped */
@media screen and (orientation:landscape) and (max-height:420px) and (min-width:750px){
    #dropdown{
        height: 350px;
        grid: 50px 6fr/1fr;
    }	
	#headshot{
        height: 120px;
    }
} 

/* #endregion */





/* #region responsive breakpoint for PORTRAIT T-A-B-L-E-T (orientation:portrait) and (min-width:451px) and (max-width:1380px)  this is ipad */

@media screen and (orientation:portrait) and (min-width:451px) and (max-width:1380px){

    .contents{        
        font-size: 1.6rem;	
    }

    #dropdown{
        width: 40vw; 
    }
 
    .DDbutton{	        
        width: 30vw;
        font-size: 1.2rem;
    }    

    .icon{
        max-height: 100px;
    }
    #headshot{
        height: 150px;
    }
}

/* #endregion */


/* #region responsive breakpoint for LANDSCAPE T-A-B-L-E-T (orientation:landscape) and (min-height:451px) and (max-width:1380px)  this is ipad */

@media screen and (orientation:landscape) and (min-height:451px) and (max-width:1380px){
    .contents{        
        font-size: 1.4rem;	
    }

    #dropdown{
        width: 40vw; 
    }

    .DDbutton{	        
        width: 30vw;
        font-size: 1.2rem;
    }    

    .icon{
        max-height: 100px;
    }
    #headshot{
        height: 90px;
    }
}

/* #endregion */


/* #region responsive breakpoint for  C-O-M-P-U-T-E-R-S (min-width: 1381px)*/
@media screen and (min-width:1400px) {
    
    main{   
        display: grid;
        grid: minmax(0,3fr) minmax(0,1fr) minmax(0,1fr) /1fr 50vw; 
        grid-auto-flow: column;        
    }

    #mapsection{
        grid-row: span 3;
    }
    .contents{
        height: 80%;
        width: 80%;          
        font-size: 1.7rem;	        
    }

    a{
        color: blue;
        text-decoration-color: blue;    
    }
    
    .buttonclass{
        color: blue;
        height: 100%;
        width: 100%;  
        border-width: 0px;
    }

    #dropdown{
        width: 22vw; 
    }

    .DDbutton{	        
        width: 16vw;
        font-size: 1.2rem;
    }    

    .icon{
        max-height: 200px;
        height: 80px;
    }    
    #headshot{
        height: 300px;
    }

}


/* #endregion */



