<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Good Simple & Cheap</title>
    <link rel="stylesheet" media="screen" href="\static\meyerReset.css">
    <link rel="stylesheet" media="screen" href="\static\cheap.css">
    <link href="https://fonts.googleapis.com/css?family=Rhodium+Libre|Roboto+Slab|Russo+One&display=swap" rel="stylesheet">
    <!--  USAGE AS:   font-family: 'Russo One', sans-serif;font-family: 'Rhodium Libre', serif; font-family: 'Roboto Slab', serif; -->

    <!-- Leaflet's CSS...from leaflet direct copy/paste -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>

    <!-- Leaflet's JS (this is the mapping scroller/zoomer...from leaflet direct copy/paste...must be after leaflet's CSS) -->
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>
    
</head>
<body>
    
    
    <div id="backboard">
        
        <div id="navbarplace"> 
            <!-- the sole purpose of div "navbarplace" is stacking context for the positioned navbar  -->
            <div id="navbar">
                <img src="\static\reddotomni.png" id="navlogo" alt="Omnivore web dev logo">
                <img src="\static\burgermenu.svg" id="burger" alt="menu icon">
            </div>
            <div id="dropdown">
                <img src="\static\closeX.svg" id="closer" alt="x to close menu">
                <div id="DDbuttonsdiv">
                    <a href="{{url_for('index')}}" class="DDa"><button class="DDbutton">HOME</button></a>
                    <a href="{{url_for('contact')}}" class="DDa"><button class="DDbutton">MAKE CONTACT</button></a>
                    <a href="{{url_for('whyweb')}}" class="DDa"><button class="DDbutton">THE CASE FOR WEB</button></a>
                    <a href="{{url_for('portfolio')}}" class="DDa"><button class="DDbutton">PORTFOLIO</button></a>
                </div>
            </div>
        </div>
        
        
        <main>
            <section>
                <h1>GOOD, SIMPLE and CHEAP</h1>
                <p>
                    Let me help you get a web presence! I can build you that good, basic website. The process is simple on your end and the cost is quite reasonable.
                </p>
            </section>
            <section>
                <h1>GOOD</h1>
                <p>
                    Grading a website is easy, it has to have these qualities.
                </p>
                <p>
                    <b>Responsive:</b>  A web site is said to be responsive if it looks and reads well whatever device you open it on. No scrolling or re-sizing, a readable text size and images that fit. On any device from a phone to an ipad to a full size monitor.
                </p>
                <p>
                    <b>Originality:</b>  A hand built design feels authentic and that legitimizes the message. Think of how a business on a facebook page or a cookie cutter template design feels synthetic.  
                </p>
                <p>
                    <b>Communicative:</b>  Keeping the copy concise gets the message out before the attention span of the user runs out. Custom graphics and original artwork really come across. 
                </p>
            </section>
            <section>
                <h1>CHEAP</h1>
                <p>
                    You meant to say affordable? You got me but let me make the case.
                </p>
                <p>
                    My overhead is low, it’s just me and a laptop and that keeps you competitive.No property taxes, no fleet insurance no dental benefits for the receptionist, there is no receptionist I answer the phone. I use free open source software so I don’t have licensing fees. I’m still making margin but your bill is small.
                </p>
                <p>
                    As of right now my priority is to churn out the work and develop my skills so your timing for a bargain is perfect.
                </p>
            </section>
            <section>
                <h1>SIMPLE</h1>
                <p>
                    You’ve decided you should really get some kind of web presence is this going to be painful? Let me take care of it for you and this will be easy.
                </p>
                <p>
                    First the message. Who is your target audience and what do you want them to know? Tell me what you want to tell them!
                </p>
                <p>
                    Let me work out a design for you. We can preview the design with Figma and get it just right.
                </p>
                <p>
                    When the design is good I’ll code it up. I write both the front end and the server-side code. 
                </p>
                <p>
                    When the website is built I can deploy it on Heroku which is a fast, reliable, scalable and competitively priced cloud platform. 
                </p>
                <p>
                    After the site is up we’ll make sure it’s on Google’s index so it shows up in a search. Attaching Google analytics allows traffic measurement. 
                </p>
            </section>            
            
        </main>
    
    </div>
    
    
</body>

</html>
<script src="\static\dropdown.js" defer></script>