<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Omnivore Web Design Contact</title>
    <link rel="stylesheet" media="screen" href="\static\meyerReset.css">
    <link rel="stylesheet" media="screen" href="\static\contactstyle.css">
    <link href="https://fonts.googleapis.com/css?family=Rhodium+Libre|Roboto+Slab|Russo+One&display=swap" rel="stylesheet">
    <!--  USAGE AS:   font-family: 'Russo One', sans-serif;ont-family: 'Rhodium Libre', serif; font-family: 'Roboto Slab', serif; -->

    <!-- Leaflet's CSS...from leaflet direct copy/paste -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>

    <!-- Leaflet's JS (this is the mapping scroller/zoomer...from leaflet direct copy/paste...must be after leaflet's CSS) -->
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>
    
</head>
<body>
    
    
    <div id="backboard">
        
        <div id="navbarplace"> 
            <!-- the sole purpose of div "navbarplace" is stacking context for the positioned navbar  -->
            <div id="navbar">
                <img src="\static\reddotomni.png" id="navlogo" alt="Omnivore web dev logo">
                <img src="\static\burgermenu.svg" id="burger" alt="menu icon">
            </div>
            <div id="dropdown">
                <img src="\static\closeX.svg" id="closer" alt="x to close menu">
                <div id="DDbuttonsdiv">
                    <a href="{{url_for('index')}}"><button class="DDbutton">HOME</button></a>
                    <a href="{{url_for('whyweb')}}"><button class="DDbutton">THE CASE FOR DIGITAL</button></a>
                    <a href="{{url_for('cheap')}}"><button class="DDbutton">GOOD, SIMPLE AND CHEAP</button></a>
                    <a href="{{url_for('portfolio')}}"><button class="DDbutton">PORTFOLIO</button></a>
                </div>
            </div>
        </div>
        
        
        <main>
            <section id="photosection">
                <img src="\static\photoicon.svg"  class="icon" alt="icon for photo">
                <div id="photoframe" class="contents"> 
                    <img src="\static\RyanCross 2.png" id="headshot" alt="Ryan Cross headshot">
                    <p id="phototitle">Ryan Cross</p>                        
                </div>  
            </section>  
                
            <section  id="phonesection">
                <img src="\static\phoneicon.svg" class="icon" alt="icon for phone number">
                <a href="tel:+01-778-538-1334" class="contents" ><button class="contents buttonclass">1-778-538-1334</button></a>                
            </section> 

            <section  id="mailsection">
                <img src="\static\mailicon.svg" class="icon" alt="icon for email">
                <a href="mailto: omnivorewebdesign@gmail.com" class="contents" target="_blank"><button class="contents buttonclass">omnivorewebdesign@gmail.com</button></a>                 
            </section>  
            
            <section id="mapsection" >
                <img src="\static\mapicon.svg" class="icon" alt="icon for map">
                    
                <div id="mapframe" class="contents">  
                    <a href="#">take this map fullscreen</a> 
                    <div id="themap">   </div> 
                                            
                </div>               
            </section>  
        </main>
        
        
    </div>
    
    
</body>

</html>
<script src="\static\dropdown.js" defer></script>
<script src="\static\themapper.js" defer></script>
