<!-- boiler plate -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Omnivore Web Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">  -->
    <!-- font-family: 'Nunito Sans', sans-serif; -->


    <link rel="stylesheet" media="screen" href="\static\indexstyle.css">

    <link href="https://fonts.googleapis.com/css?family=Rhodium+Libre|Roboto+Slab|Russo+One&display=swap" rel="stylesheet">
    <!--  USAGE AS:   font-family: 'Russo One', sans-serif;ont-family: 'Rhodium Libre', serif; font-family: 'Roboto Slab', serif; -->


</head>
<body>
    <div id="backboard">
        <div id="contents">
            <div id="abovefold">
                <div id="logodiv">
                    <img src="\static\logowave.svg" class="logoimage" alt="Omnivore web design logo">  
                    <img src="\static\reddotomni.png" class="altlogo" alt="Omnivore web design logo 2">                  
                </div>
                <div id="openerdiv" >                    
                    <div class="openertop">
                        <p>YOU HAVE SOME IMPORTANT INFORMATION FOR THEM.</p>
                    </div>
                    <div class="openerbottom">
                        <p>MAKE SURE THEY SEE IT.</p>
                    </div>
                </div>
            </div>
            <div id="belowfold">
                <div id="preamblediv" >
                    <p class="preambleparagraph">
                        Put your message where they're looking.                            
                    </p>
                    <p class="preambleparagraph">
                        That means online and likely on a mobile phone.
                    </p>
                    <p class="preambleparagraph">
                        I can design, build and deploy that basic web site you need to reach your target audience. I run lean so I can offer an affordable solution. Building from scratch keeps the design unique and that makes the delivery authentic.
                    </p>                
                </div>
                <div id="buttonsdiv">
                    <a href="{{ url_for('contact')}}"><button class="fpbutton">MAKE CONTACT</button></a>
                    <a href="{{ url_for('whyweb')}}"><button class="fpbutton">THE CASE FOR DIGITAL</button></a>
                    <a href="{{ url_for('cheap')}}"><button class="fpbutton">GOOD, SIMPLE AND CHEAP</button></a>
                    <a href="{{ url_for('portfolio')}}"><button class="fpbutton">PORTFOLIO</button></a>
                </div>
            </div>
            
            
            
        </div>
    </div>
    

</body>
</html>

