/* #region Default Mobile-portrait view no breakpoint   based on iphoneX (375x812) */


#backboard{
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    /* overflow:hidden;     */
    box-sizing: border-box;

    display: grid;
    grid: 100px 1fr/ 1fr;    
}


#navbar{
    height: 100px;
    width: 100vw;
    max-width: 100%;
    box-sizing: border-box;
    background-color: white;    
    display: grid;
    grid: 1fr/ 2fr 1fr;
    position: fixed;  
    top: 0;
    left: 0;
}



#navlogo{
    height: 80px;
    place-self:  center start;
    position: relative;
    left: 10px;
}

#burger{
    position: relative;
    right: 10px;    
    height: 35px;
    place-self:  center end;   
    
    /* this is good but not on mobile */
    cursor: pointer;	
}

#dropdown{
    height: 400px;
    width: 70vw;    
    background: linear-gradient(180deg, rgba(218, 218, 218, 0.94) 0%, rgba(175, 175, 176, 0) 100%), #1C1717;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;    
    display: none;
    grid: 60px 6fr/1fr;
    
    position: fixed;
    top: 20px;
    right: 20px;
}

#closer{
    height: 40px;
    width: 40px;
    position: relative;
    left: 10px;
    top: 10px;
}

#DDbuttonsdiv{
	/* background-color: rgb(14, 124, 56); */
    display: grid;
    grid: 1fr 1fr 1fr 1fr/ 1fr;
	place-items: center;
}
  
.DDbutton{	
	background: #FFFFFF;
	box-shadow: 2px 8px 15px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	padding: 1rem 1rem 1rem 1rem;
	box-sizing: content-box;
	width: 50vw;
	text-decoration: none;
	font-family: Russo One;
	font-style: normal;
	font-weight: normal;
	font-size: 1.2rem;	
	text-align: center;
	color: #000000;	
    
    /* this is good but not on mobile */
    cursor: pointer;	 
}

     /*                               contents from here                                   */

#contents{    
    box-sizing: border-box;
    padding: 10px 0 10px 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 21.35%, #FFFFFF 88.02%), #E11E1E;
    font-size: 2rem; 
    display: grid;
    /* grid: 3fr 1fr 1fr 3fr/1fr;  */
    max-height: 100%;
}

.icon{
    max-height: 40px;
}

#photosection{
    object-fit: contain;
}

#photoframe{
    /* this grid needs a fixed height on that first cell or img collapses */
    display: grid;
    grid: 10fr 1fr/1fr;
    place-items: center; 
    padding: .3rem 1rem  .3rem 1rem;
    
}
#headshot{
    object-fit: contain;
    max-height: 100%;
    height: 100%;
}

.sectioned{
    display: grid;
    grid: 1fr/1fr 6fr;    
    place-items: center;
    /* padding: 0 0 10px 0; */
}

.detailssection{
    background: #FFFFFF;
	box-shadow: 2px 8px 15px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	padding: 1rem 1rem 1rem 1rem;

	box-sizing: content-box;
	width: 70vw;

	/* text-decoration: none; */
	font-family: Russo One;
	font-style: normal;
	font-weight: normal;
	font-size: .8rem;	
	text-align: center;
    color: #000000;	 
  
}

.linkable{
    color: blue;
}

#mapdetail{
    display: grid;
    grid:1fr 1rem/1fr;
}

#mapfullscreen{
    font-size: 1rem;
}

#themap{
    height: 200px;
}

/* #endregion */



/* #region responsive breakpoint for PORTRAIT M-O-B-I-L-E (max-width:450px)    */
@media screen and (max-width:450px) {
    
}


/* #endregion */


/* #region responsive breakpoint for LANDSCAPE M-O-B-I-L-E & PORTRAIT T-A-B-L-E-T(max-width:850px)    */
@media screen and (max-width:850px) {
    #dropdown{
        width: 60vw; 
    }
    
    .fpbutton{	
        width: 40vw;
        font-size: 1rem;	    
    }
}


/* #endregion */


/* #region responsive breakpoint for LANDSCAPE T-A-B-L-E-T and LAPTOPS (max-width:1400px)    */
@media screen and (max-width:1400px) {
    #dropdown{
        width: 60vw; 
    }
    
    .fpbutton{	
        width: 40vw;
        font-size: 1rem;	    
    }
}


/* #endregion */


/* #region responsive breakpoint for COMPUTERS (min-width:1400px)    */
@media screen and (min-width:1400px) {
    #dropdown{
        width: 60vw; 
    }
    
    .fpbutton{	
        width: 40vw;
        font-size: 1rem;	    
    }
}


/* #endregion */



