/* #region Default Mobile-portrait view no breakpoint   based on iphoneX (375x812) */


     /*                               contents from here                                   */
#backboard{
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    /* overflow:hidden;     */
    box-sizing: border-box;
    display: grid;
    grid: 100px 1fr/ 1fr;    
}

main{    
    box-sizing: border-box;    
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 21.35%, #FFFFFF 88.02%), #E11E1E;
    font-size: 2rem; 
    display: grid;
    grid: minmax(0,3fr) minmax(0,1fr) minmax(0,1fr) minmax(0,5fr)/100vw; 
    /* max-height: 100%; */
    /* width: 100vw; */
    place-items: center start;
}

section{
    height: 100%;
    width: 100%; 
    display: grid;
    grid: 1fr/1fr 6fr;    
    place-items: center;
}

#photosection{
    /* background-color: aqua;       */
}
#phonesection{
    /* background-color:olive; */
}
#mailsection{
    /* background-color:orangered; */
}
#mapsection{
    /* background-color:palegoldenrod; */
}


.icon{
    max-height: 40px;
}

.contents{
    height: 90%;
    width: 90%;  
    
    background: #FFFFFF;
	box-shadow: 2px 8px 15px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	
    box-sizing: border-box;
    /* padding: 1rem 1rem 1rem 1rem; */
    
	font-family: Russo One;
	font-style: normal;
	font-weight: normal;
	font-size: .8rem;	
	text-align: center;
    color: #000000;	 

    display: grid;
    place-items: center;
}

#photoframe{
 /* background-color: pink; */
    display: grid;
    grid: minmax(100px,10fr)  1fr/1fr;
    place-items: center; 
    padding: .3rem 1rem  .3rem 1rem; 
}

#headshot{
    object-fit: contain;
    max-height: 100%;
    height: 100%;
}

a{
    color: blue;
    text-decoration-color: blue;
}
.buttonclass{
    color: blue;
    height: 100%;
    width: 100%;  
    border-width: 0px;
}

#mapframe{
    display: grid;
    grid: 1fr minmax(100px,10fr)/1fr;
    place-items: center; 
    padding: .3rem 1rem  .3rem 1rem; 
}

#themap{
    height: 100%;
    width: 100%;
    
}



  /*                               dropdown from here                                   */
  #navbar{
    height: 100px;
    width: 100vw;
    max-width: 100%;
    box-sizing: border-box;
    background-color: white;    
    display: grid;
    grid: 1fr/ 2fr 1fr;
    position: fixed;  
    top: 0;
    left: 0;
}

#navlogo{
    height: 80px;
    place-self:  center start;
    position: relative;
    left: 10px;
}

#burger{
    position: relative;
    right: 10px;    
    height: 35px;
    place-self:  center end;   
    
    /* this is good but not on mobile */
    cursor: pointer;	
}

#dropdown{
    height: 400px;
    width: 70vw;    
    background: linear-gradient(180deg, rgba(218, 218, 218, 0.94) 0%, rgba(175, 175, 176, 0) 100%), #1C1717;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;    
    display: none;
    grid: 60px 6fr/1fr;
    
    position: fixed;
    /* this next line is to keep the dropdown higher in stacking context than the leaflet map...i have no idea on leaflets z-index  */
    z-index: 99999999999;
    top: 20px;
    right: 20px;
}

#closer{
    height: 40px;
    width: 40px;
    position: relative;
    left: 10px;
    top: 10px;
}

#DDbuttonsdiv{
	/* background-color: rgb(14, 124, 56); */
    display: grid;
    grid: 1fr 1fr 1fr 1fr/ 1fr;
	place-items: center;
}
  
.DDbutton{	
	background: #FFFFFF;
	box-shadow: 2px 8px 15px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	padding: 1rem 1rem 1rem 1rem;
	box-sizing: content-box;
	width: 50vw;
	text-decoration: none;
	font-family: Russo One;
	font-style: normal;
	font-weight: normal;
	font-size: 1.2rem;	
	text-align: center;
	color: #000000;	
    
    /* this is good but not on mobile */
    cursor: pointer;	 
}

/* #endregion */



/* #region responsive breakpoint for PORTRAIT M-O-B-I-L-E (max-width:450px)    */
@media screen and (max-width:450px) {
    
}


/* #endregion */


/* #region responsive breakpoint for LANDSCAPE M-O-B-I-L-E & PORTRAIT T-A-B-L-E-T(max-width:850px)    */
@media screen and (max-width:850px) {
    #dropdown{
        width: 60vw; 
    }
    
    .fpbutton{	
        width: 40vw;
        font-size: 1rem;	    
    }
}


/* #endregion */


/* #region responsive breakpoint for LANDSCAPE T-A-B-L-E-T and LAPTOPS (max-width:1400px)    */
@media screen and (max-width:1400px) {
    #dropdown{
        width: 60vw; 
    }
    
    .fpbutton{	
        width: 40vw;
        font-size: 1rem;	    
    }
}


/* #endregion */


/* #region responsive breakpoint for COMPUTERS (min-width:1400px)    */
@media screen and (min-width:1400px) {
    #dropdown{
        width: 60vw; 
    }
    
    .fpbutton{	
        width: 40vw;
        font-size: 1rem;	    
    }
}


/* #endregion */



