/* #region Default Mobile-portrait view no breakpoint   based loosely on iphoneX (375x812) */


     /*                               contents from here                                   */
#backboard{
    width: 100vw;
    max-width: 100%;
    box-sizing: border-box;
    display: grid;
    grid: 100px 1fr/ 1fr;    
}


    
b{
    font-weight: bold;
}

h1{
    font-family: 'Russo One';
    font-size: 1.3rem;
    margin: 1rem 0 1rem 0;
}

a{
    color:blue;
    font-size: 1.3rem;
    display: block;
    margin: 1rem 0 1rem 0;
}

p{
    margin: 0 .5rem 1rem .5rem;
    text-align: left;
    line-height: 1.2rem;
}

ul{
    margin: 0 .5rem 1rem 1.3rem;
    list-style:  disc inside none;
    text-align: left;
    line-height: 1.2rem;
}

li{
    margin: 0 0 1rem 0;
    line-height: 1.2rem;
}

#swtArt{
    width: 90%;
    background: #324F9B;
    border: 1px solid #000000;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.44);
    border-radius: 10px;
    margin: 1rem 0 1rem 0;
}

#homepageomni{
    width: 90%;
    border: 1px solid #000000;
    margin: 1rem 0 1rem 0;
}

#techicons{
    width: 95%;
}

#githublogo{
    width: 40%;
}


main{
    max-width: 100%;
    
    box-sizing: border-box;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 39.58%, #FFFFFF 100%), #436893;
    font-size: 2rem; 

    display: grid;
    place-items:center;

    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;	
    text-align: center;
    color: #000000;
}

section{
    width: 90%;
    margin: 1rem 0 1rem 0;
    
    background: rgb(238, 237, 237);
    box-shadow: 2px 8px 15px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}
    

    
    
    
      /*                               dropdown from here                                   */
#navbar{
    height: 100px;
    width: 100vw;
    max-width: 100%;
    box-sizing: border-box;
    background-color: white;    
    display: grid;
    grid: 1fr/ 2fr 1fr;
    position: fixed;  
    top: 0;
    left: 0;
}

#navlogo{
    height: 80px;
    place-self:  center start;
    position: relative;
    left: 10px;
}
    
#burger{
    position: relative;
    right: 10px;    
    height: 35px;
    place-self:  center end;   
    
    /* this is good but not on mobile */
    cursor: pointer;	
}

#dropdown{
    height: 400px;
    width: 70vw;    
    background: linear-gradient(180deg, rgba(218, 218, 218, 0.94) 0%, rgba(175, 175, 176, 0) 100%), #1C1717;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;    
    display: none;
    grid: 60px 6fr/1fr;
    
    position: fixed;
    /* this next line is to keep the dropdown higher in stacking context than the leaflet map...i have no idea on leaflets z-index  */
    z-index: 99999999999;
    top: 20px;
    right: 20px;
}
    
#closer{
    height: 40px;
    width: 40px;
    position: relative;
    left: 10px;
    top: 10px;
}

.DDa{
    margin: 0 0 0 0;
}

#DDbuttonsdiv{
    /* background-color: rgb(14, 124, 56); */
    display: grid;
    grid: 1fr 1fr 1fr 1fr/ 1fr;
    place-items: center;
}
      
.DDbutton{	
    background: #FFFFFF;
    box-shadow: 2px 8px 15px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 1rem 1rem 1rem 1rem;
    box-sizing: content-box;
    width: 50vw;
    text-decoration: none;
    font-family: Russo One;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;	
    text-align: center;
    color: #000000;	
    
    /* this is good but not on mobile */
    cursor: pointer;	 
}
    
    /* #endregion */
    
    
    
    
    /*                               responsive adapt from here                                   */
    
    
    /* #region responsive breakpoint for PORTRAIT M-O-B-I-L-E (max-width:450px) and (max-height:570px)   this is 5s */
    @media screen and (max-width:450px) and (max-height:570px){

        .DDbutton{	        
            font-size: 1rem;
        } 
        h1{
            font-size: 1rem;
            margin: 1rem 0 1rem 0;
        }
        
        a{
            font-size: 1.2rem;
            margin: 1rem 0 1rem 0;
        }   
    
    }
    
    /* #endregion */
    
    
    /* #region responsive breakpoint for PORTRAIT M-O-B-I-L-E (max-width:450px) and  (min-height:571px) and (max-height:750px)   this is iphone 6/7/8*   6/7/8+  */
    @media screen and (max-width:450px) and  (min-height:571px) and (max-height:750px){

    }
    
    /* #endregion */
    
    
    /* #region responsive breakpoint for PORTRAIT M-O-B-I-L-E (max-width:450px) and  (min-height:751px) this is iphoneX, pixel phones etc */
    @media screen and (max-width:450px) and  (min-height:751px) {

    }
    
    /* #endregion */
    
    
    
    
    
    /* #region responsive breakpoint for LANDSCAPE M-O-B-I-L-E (orientation:landscape) and (max-height:420px) and (max-width:600px)iphone5s landscaped */
    @media screen and (orientation:landscape) and (max-height:420px) and (max-width:600px){
        #dropdown{
        height: 300px;
        grid: 50px 6fr/1fr;
        }
    } 
    
    /* #endregion */
    
    
    /* #region responsive breakpoint for LANDSCAPE M-O-B-I-L-E (orientation:landscape) and (max-height:420px) and (min-width:600px) and (max-width:700px) iphone 6/7/8 6/7/8+ */
    @media screen and (orientation:landscape) and (max-height:420px) and (min-width:600px) and (max-width:750px){
        
        #dropdown{
            height: 350px;
            grid: 50px 6fr/1fr;
        }
            
    } 
    
    /* #endregion */
    
    
    /* #region responsive breakpoint for LANDSCAPE M-O-B-I-L-E (orientation:landscape) and (max-height:420px) and (min-width:750px) iphoneX, pixelphone landscaped */
    @media screen and (orientation:landscape) and (max-height:420px) and (min-width:750px){
        #dropdown{
            height: 350px;
            grid: 50px 6fr/1fr;
            width: 40vw;
        }
        .DDbutton{	        
            width: 30vw;
            font-size: 1rem;
        } 
         	
        
    } 
    
    /* #endregion */
    
    
    
    
    
    /* #region responsive breakpoint for PORTRAIT T-A-B-L-E-T (orientation:portrait) and (min-width:451px) and (max-width:1380px)  this is ipad */
    
    @media screen and (orientation:portrait) and (min-width:451px) and (max-width:1380px){
        #dropdown{
            width: 40vw; 
        }     
        .DDbutton{	        
            width: 30vw;
            font-size: 1.2rem;
        }  
        h1{
            font-size: 2rem;
        }

        a{
            font-size: 2rem;
        }
        
        main{
            font-size: 1.5rem;
        }

        p{
            line-height: 1.6rem;
        }
        
        ul{
            line-height: 1.6rem;
        }
        
        li{
            line-height: 1.6rem;
        }
    }
    
    /* #endregion */
    
    
    /* #region responsive breakpoint for LANDSCAPE T-A-B-L-E-T (orientation:landscape) and (min-height:451px) and (max-width:1380px)  this is ipad */
    
    @media screen and (orientation:landscape) and (min-height:451px) and (max-width:1380px){
        #dropdown{
            width: 40vw; 
        }     
        .DDbutton{	        
            width: 30vw;
            font-size: 1.2rem;
        }  
        h1{
            font-size: 2rem;
        }

        a{
            font-size: 2rem;
        }
        
        main{
            font-size: 1.5rem;
        }

        p{
            line-height: 1.6rem;
        }
        
        ul{
            line-height: 1.6rem;
        }
        
        li{
            line-height: 1.6rem;
        }
    }
    
    
    /* #endregion */
    
    
    /* #region responsive breakpoint for  C-O-M-P-U-T-E-R-S (min-width: 1381px)*/
    @media screen and (min-width:1400px) {
        

        #dropdown{
            width: 22vw; 
        }
    
        .DDbutton{	        
            width: 16vw;
            font-size: 1.2rem;
        }
        section{
            width: 60%;
            
        }    
        h1{
            font-size: 2rem;
        }

        a{
            font-size: 2rem;
        }
        
        main{
            font-size: 1.5rem;
        }

        p{
            line-height: 1.6rem;
        }
        
        ul{
            line-height: 1.6rem;
        }
        
        li{
            line-height: 1.6rem;
        }
    }
    
    
    /* #endregion */
    
    